@import '../../@theme/styles/themes';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/typography/typography';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  nb-card {
    display: flex;
    flex-direction: row;
  }

  nb-card-body {
    overflow: hidden;
  }

  .table-header {
    @include nb-card-header();
    font-size: 1.25rem;

    .subtitle {
      color: nb-theme(color-fg);
      font-family: nb-theme(font-main);
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .chart-container {
    flex: 1;
    height: 100%;
    background-image: nb-theme(radial-gradient);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1.75rem 1rem 1rem;
  }

  .chart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem 1.75rem .1rem 1rem;
  }

  .chart-comments {
    display: flex;
    align-items: inherit;
    text-align: justify;
    justify-content: space-between;
    padding: 0rem 1rem .1rem 1rem;
    font-family: nb-theme(font-main);
    font-size: .8rem;
    color: darkslategray;
    font-weight: nb-theme(font-weight-dark);
  }

  .chart-image {
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    padding: 1.5rem 1rem 2rem 0rem;
    font-size: .8rem;
    font-weight: nb-theme(font-weight-light);
    
  }
   
     .month {
      display: flex;
      align-items: inherit;
    //  width: 0.75rem;
      font-family: nb-theme(font-secondary);
      font-size: 0.75rem;
      color: nb-theme(color-fg);
      font-weight: nb-theme(font-weight-bolder);
     
    }


  .header-stats {
    display: flex;
    align-items: flex-end;
  }

  .stats-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: nb-theme(color-fg);
    padding: 0 1rem;
    border-right: 1px solid nb-theme(separator);

    .subtitle {
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }

    .tier-header {
      font-family: nb-theme(font-secondary);
      font-size: .8rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      align-content: flex-end;
      width: 3rem;
      text-align: right;
    }

    .value {
      font-family: nb-theme(font-secondary);
      font-size: .8rem;
      font-weight: nb-theme(font-weight-bold);
      color: green;
      width: 3rem;
      text-align: right;
    }

    .value-low {
      font-family: nb-theme(font-secondary);
      font-size: .8rem;
      font-weight: nb-theme(font-weight-bold);
      color:lawngreen;
      width: 3rem;
      text-align: right;
    }



    .value-red {
      font-family: nb-theme(font-secondary);
      font-size: .8rem;
      font-weight: nb-theme(font-weight-bold);
      color: red;
      width: 3rem;
      text-align: right;
    }

    .value-tier {
      font-family: nb-theme(font-secondary);
      font-size: .8rem;
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      width: 3rem;
      text-align: left;
    }

    .unit {
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .dropdown {
    min-width: 130px;
  }

  @include nb-for-theme(cosmic) {
    nb-tabset /deep/ ul li.active {
      background-color: nb-theme(color-primary);
      border-radius: nb-theme(radius);

      &::before {
        display: none;
      }
    }

    .stats-block .value {
      font-weight: nb-theme(font-weight-bolder);
    }
  }

  @include media-breakpoint-down(xxl) {
    .stats-block {
      border: none;
      padding: 0 1rem;
    }
  }

  @include media-breakpoint-between(md, xl) {
    .consumption-table {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .chart-header {
      padding: 1rem;
    }

    .dropdown {
      min-width: 100px;

      button {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .consumption-table {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .stats-block {
      padding: 0;

      &:first-child {
        padding: 0 0.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }

      .value {
        font-size: 1.5rem;
      }

      .unit {
        display: none;
      }
    }
  }
}
